header {
    height: 20%;
    background-color: beige;
    color: brown;
    display: flex;
    justify-content: center;
}
nav {
    background-color: beige;
    display: flex;
    justify-content: center;
}
.button {
    width: 60px;
    height: 30px;
    border-color: rgb(225, 129, 129);
    border-radius: 10%;
    margin-left: 5px;
    margin-right: 5px;
}
main {
    background-color: beige;
    height: 80%;
    padding-left: 350px;
    padding-right: 350px;
    display: flex;
    justify-content: space-between;
}
h3 {
    color: brown;
    display: flex;
    justify-content: center;
}
img {
    height: 250px;
    width: 250px;
    padding: 20px;
    transition: all ease 100ms;
    display: flex;
    flex-direction: column;
}
img:hover {
transform: scale(1,2);
}
